$background: #27232c;
$primary: #71eac6;
$lightPrimary: #bee0d6;
$darkPrimary: #254b45;
$error: #ff8989;
$white: #ffffff;
$gray: #808080;
$black: #000000;

$fontFamily: 'Roboto', sans-serif;

$marginBottom: 16rem;
$marginBottomMobile: 8rem;
