@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.about {
  @include max-width;
  margin-bottom: $marginBottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-margin-top: 8rem;

  @include device(mobile) {
    margin-bottom: $marginBottomMobile;
  }

  @include device(tablet) {
    flex-direction: column;
  }

  .image {
    width: 100%;
    max-width: 47rem;
    height: 43rem;
    position: relative;

    @include device(tablet) {
      margin-bottom: 3rem;
    }

    .box {
      position: absolute;
      top: -7rem;
      left: -1rem;
    }
  }

  .content {
    width: 100%;
    max-width: 60rem;

    a {
      margin-top: 1.5rem;
    }
  }
}
